<form (ngSubmit)="submit()">
  <div class="flex flex-col p-4 w-full">
    <div class="flex flex-col w-full">
      <label class="py-3" for="emotion">Emotion:</label>
      <select
        id="emotion"
        name="emotion"
        [(ngModel)]="emotion"
        class="input w-full"
      >
        @for (option of emotionOptions; track option.value) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    <div class="flex flex-col w-full">
      <label class="py-3" for="description"
        >What happened to cause that emotion?</label
      >
      <textarea
        rows="10"
        class="textarea w-full"
        id="description"
        type="text"
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <button class="btn btn-primary mt-4 w-full">Save</button>
  </div>
</form>
