<form (ngSubmit)="submit()">
  <div>
    <div class="input-group">
      <label for="emotion">Emotion:</label>
      <input id="emotion" type="text" name="emotion" [(ngModel)]="emotion" />
    </div>
    <div class="input-group">
      <label for="description">What happened to cause that emotion?</label>
      <textarea
        id="description"
        type="text"
        name="description"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <button>Save</button>
  </div>
</form>
